@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#principal {
    text-align: center;
}

input {
    padding-left: 20px;
    padding-right: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-color: rgba(200, 190, 190, 0.52);
    border-radius: 10px;
}

#entrar {
    margin-top: 25px;
    padding: 15px 80px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    font-family: 'Bebas Neue';
    font-weight: 100;
    box-shadow: 1px 1px 4px 0px;
}

#textocima {
    margin-right: 456px;
    margin-bottom: 5px;
    color: rgba(44, 44, 44, 0.692);
    font-family: Arial, Helvetica, sans-serif;
}

#textobaixo {
    margin-right: 448px;
    margin-bottom: 5px;
    color: rgba(44, 44, 44, 0.692);
    font-family: Arial, Helvetica, sans-serif;
}

img {
    margin-top: 0px;
    width: 300px;
    height: 300px;
}

#sia {
    text-align: center;
    margin-top: 250px;
}

body {
    background-image: linear-gradient(to right, #526ae6 68%, #ffffff 32%);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-x: hidden;
}
i,#password{
    display: inline-flex;
    position: relative;
}
i{
    font-size: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: rgba(0, 0, 0, 0.689);
}
div i{
    position: absolute;
    right: 4%;
    cursor: pointer;
}
#corpo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 600px;
    padding-right: 50px;
    margin-bottom: 110px;
}
#entrar{
    transition: .2s;
}
#entrar:hover{
    background-color: orange;
    color: black;
    padding: 20px 100px;
 }
 #imagem{
    position: absolute;
    left: 10%;
    top: 50%;  
    transform: translateY(-50%);
    margin-left: 150px;
    width: 600px;      
    height: auto;
    border-radius: 10px;
 }

#carro2 {
    display: block;
    margin: 0 auto;
}
#alugar{
    text-align: left;
    left: 20px;
    top: 20px;
}
@media (max-width:1680px) and (min-width:1440px){
    #imagem{
        width: 450px;
    }
    input{
        padding-left: 10px;
        padding-right: 200px;
    }
    #textocima {
        margin-right: 354px;
    }
    #textobaixo{
            margin-right: 349px;
    }
    #entrar{
        padding: 10px 65px;
    }
    #entrar:hover{
        padding: 15px 75px;
    }
}
@media (max-width:1440px) and (min-width:1024px){
    #imagem{
        width: 380px;              
        margin-left: 100px;      
        left: 8%;                  
    }

    #corpo{
        width: 500px;              
        padding-right: 40px;
        margin-bottom: 90px;
    }

    input{
        padding-left: 10px;
        padding-right: 150px;      
        padding-top: 18px;
        padding-bottom: 18px;
    }

    #textocima{
        margin-right: 300px;       
        
    }
    #textobaixo{
        margin-right: 294px;
    }

    img#principal-logo{
        width: 250px;
        height: 250px;
    }

    #entrar{
        padding: 12px 60px;
    }

    #entrar:hover{
        padding: 17px 70px;
    }

    i{
        font-size: 25px;
    }
    }
    @media (max-width:1024px) and (min-width:768px){
        
        #corpo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #imagem{
            display: none;
        }
        body{
            background-image: linear-gradient(to right,#526ae6 50%,#526ae6 50%);
        }
}
@media (max-width:768px) and (min-width:375px){
    #corpo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #imagem{
        display: none;
    }
    body{
        background-image: linear-gradient(to right,#526ae6 50%,#526ae6 50%);
    }
}
@media(max-width:375px){
    #imagem{
        display: none;
    }
    body{
        background-image: linear-gradient(to right,#526ae6 50%,#526ae6 50%);
    }
    input{
        padding-left: 10px;
        padding-right: 100px;      
        padding-top: 10px;
        padding-bottom: 15px;
    }
}